:root {
	/* Set neon color */
	--neon-text-color: #ff0080;
	--neon-border-color: #08f;
}

.background {
	position: fixed;
	background-image: url('../../assets/images/wall.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -10;
	overflow-y: auto;
}
.grid-container {
	.weather {
		position: absolute;
		left: calc(1% + 1em);
		top: calc(1% + 1em);
	}

	.clock {
		position: absolute;
		right: calc(10% - 10em);
		top: calc(25% + 1em);
	}

	.contacts {
		position: absolute;
		left: calc(1% + 1em);
		bottom: calc(1% + 1em);
	}

	@media (max-width: 900px) {
		display: flex;
		flex-direction: column;
		align-items: center;

		.weather,
		.clock,
		.contacts {
			position: unset;
			margin: 20px;
		}
	}

	@media (max-width: 1435px) and (min-width: 900px) {
		display: flex;
		flex-direction: column;
		align-items: center;

		.weather,
		.clock,
		.contacts {
			position: unset;
			margin: 20px;
		}
	}
}
