.timedate {
  width: fit-content;
  font-size: 72px;
  font-family: 'neoneonregular', serif;
  color: #fff;
  background-color: #00000099;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  padding: 60px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border: 0.2rem solid #fff;
  border-radius: 20px;
  box-shadow: 0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem var(--neon-border-color),
      inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color),
      inset 0 0 4rem var(--neon-border-color);

  .caption {
    font-family: 'Vibur', cursive;
    font-size: 100px;
    transform: rotate(-12deg);
    margin-top: -48px;
    margin-left: 92px;
    //animation: flicker-text 3s infinite alternate;

  }

  .full-date {
    margin-top: 60px;
  }

  @keyframes flicker-board {

    0%, 19%, 21%, 54%, 56%, 100% {

      box-shadow: 0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem var(--neon-border-color),
      inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color),
      inset 0 0 4rem var(--neon-border-color);
    }

    20%, 55% {
      border: 0.2rem solid #fff;
      box-shadow: none;
    }
  }

  @keyframes flicker-text {

    0%, 15%, 21%, 25%, 40%, 54%, 65%, 100% {

      text-shadow: 0 0 5px #fff,
      0 0 5px #fff,
      0 0 2rem var(--neon-text-color),
      0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color),
      0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);
    }

    20%, 24%, 55% {
      text-shadow: none;
    }
  }

  .minutes::before {
    content: ':';
  }

  .seconds::before {
    content: ':';
  }

  .milliseconds::before {
    content: ':';
  }

  hr {
    border: 1px;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9));
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.75), 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  }

  .time {
    display: flex;
    align-items: baseline;
  }

  .hours,
  .minutes,
  .seconds {
    font-family: 'neoneonregular', serif;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    font-size: 80px;
  }

  .milliseconds {
    font-family: 'neoneonregular', serif;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    font-size: 60px;
  }

  @media (max-width: 810px) {
    font-size: 40px;
    text-align: center;
    width: 400px;
    padding: 30px;

    .hours, .minutes, .seconds {
      font-size: 50px;
    }
    .milliseconds {
      font-size: 40px;
    }
  }

  @media (max-width: 540px) {
    font-size: 24px;
    text-align: center;
    width: 240px;

    .caption {
      font-family: 'Vibur', cursive;
      font-size: 50px;
      -webkit-transform: rotate(-12deg);
      transform: rotate(-12deg);
      margin: 0;
    }

    .hours, .minutes, .seconds {
      font-size: 36px;
    }
    .milliseconds {
      font-size: 30px;
    }
  }
}

