@import "../src/styles/fonts.scss";
@font-face {
    font-family: 'neoneonregular';
    src: url('../src/assets/fonts/neoneon-webfont.woff2') format('woff2'),
         url('../src/assets/fonts/neoneon-webfont.woff') format('woff'),
         url('../src/assets/fonts/neoneon-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
