.contacts-card {
  width: fit-content;
  color: white;
  font-family: 'Righteous', cursive;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  padding: 60px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border: 0.2rem solid #fff;
  border-radius: 20px;
  //animation: flicker-board 5s infinite alternate;

  box-shadow: 0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem var(--neon-border-color),
      inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color),
      inset 0 0 4rem var(--neon-border-color);

  @keyframes flicker-board {

    0%, 84%, 86%, 100% {

      box-shadow: 0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem var(--neon-border-color),
      inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color),
      inset 0 0 4rem var(--neon-border-color);
    }

    85% {
      border: 0.2rem solid #fff;
      box-shadow: none;
    }
  }

  .links {
    display: flex;
    justify-content: center;
  }

  .header {
    font-family: 'Vibur', cursive;
    font-size: 55px;
    text-align: center;
    margin-bottom: 48px;
    animation: flicker-text 2s infinite alternate;

    @keyframes flicker-text {

      0%, 19%, 21%, 25%, 40%, 54%, 65%, 100% {

        text-shadow: 0 0 5px #fff,
        0 0 5px #fff,
        0 0 2rem var(--neon-text-color),
        0 0 4rem var(--neon-text-color),
        0 0 6rem var(--neon-text-color),
        0 0 8rem var(--neon-text-color),
        0 0 10rem var(--neon-text-color);
      }

      35%, 75% {
        text-shadow: none;
      }
    }
  }

  .link {
    margin: 12px;
    font-size: 30px;
    font-family: 'neoneonregular', serif;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #ff00c9, 0 0 60px #ff00c9, 0 0 80px #ff00c9, 0 0 100px #ff00c9, 0 0 120px #ff00c9;
    }

  }

  @media (max-width: 810px) {
    font-size: 40px;
    text-align: center;
    width: 400px;
    padding: 30px;

  }

  @media (max-width: 540px) {
    font-size: 24px;
    text-align: center;
    width: 200px;

    .header {
      font-size: 45px;
      text-align: center;
      margin-bottom: 0;
    }

    .links {
      display: grid;
    }
    .link {
      margin: 6px;
      font-size: 24px;
    }
  }

}
